* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
    box-sizing: border-box;
}


nav {
    display: inline;
    float: right;
    margin: 2vh;
    margin-top: 4vh;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding: 10px;
}

body {
    background-color: whitesmoke;
}

nav a:hover {
    background-color: black;
    color: white;
    border-radius: 30px;
}

nav a:active {
    background-color: grey;
    color: white;
    border-radius: 30px;
}

main {
    position: relative;
}

main img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     z-index: 2;    /*mexe nas camadas ele que bota o fundo pra frente */
    background-color: rgba(255, 255, 255, 0.747);
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    height: 35%;
    text-align: center;
}

article a {
    text-decoration: none;
    display: inline-block;
    width: 250px;
    height: 40px;
    line-height: 40px; /* Centraliza o texto pra cima ou pra baixo */
    border-radius: 30px;
    color: white;
    font-size: 15px;
    margin: 10px 0;
    transition: 0.3s;
}
article .instagram {
    background: linear-gradient(to right, purple, red, yellow);
}


article .github {
    background: linear-gradient(to right, black, grey);
}

article .linkedin {
    background: linear-gradient(to right, blue, rgb(100, 164, 236));
}

article a:hover {
    transform: scale(1.1);
}
